@mixin media ($size) {
    @media (max-width:$size) {
        @content;
    }
}


.life111 {
    @include media(650px) {
        flex-direction: column;
        // gap: 15px;
        align-items: start;
    }
}

.cat-btn {
    padding: 13px 35px 13px 35px;
    border-radius: 30px;
    background-color: rgba(40, 40, 40, 1);
    color: white;
    font-size: 16px;
    font-weight: 700;

    @include media(450px) {
        padding: 6px 25px 6px 25px;
        border-radius: 10px;
        font-size: 8px;
        font-weight: 500;
    }
}

.cat-btn2 {
    padding: 13px 35px 13px 35px;
    border-radius: 30px;
    background-color: rgba(249, 249, 249, 1);
    color: rgba(44, 44, 44, 1);
    font-size: 16px;
    font-weight: 700;

    @include media(450px) {
        padding: 6px 25px 6px 25px;
        border-radius: 10px;
        font-size: 8px;
        font-weight: 500;
    }
}

.categories {
    padding: 50px;

    @include media(450px) {
        padding: 22px;
    }
}

.categories::-webkit-scrollbar {
    width: 0;
    /* for vertical scrollbar */
    height: 0;
    /* for horizontal scrollbar */
}

h1 {
    font-size: 32px;
    font-weight: 700;
    color: rgba(0, 0, 0, 1);
    margin-top: 20px;
    margin-left: 45px;
}


.sort-container {
    display: flex;
    align-items: center;

    span {
        font-size: 14px;
        font-weight: 700;
        color: rgba(44, 44, 44, 1);
        line-height: 100%;
    }

    select {
        color: rgba(254, 95, 30, 1);
        text-decoration: dotted;
        font-size: 14px;

        .option1 {
            background-color: rgba(254, 95, 30, 0.05);
            color: rgba(254, 95, 30, 1);
        }

        .option2 {
            background-color: white;
            color: rgba(0, 0, 0, 1);
        }
    }

}