@mixin media ($size) {
    @media (max-width:$size) {
        @content;
    }
}

.life {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(254, 95, 30, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    gap: 6px;
    justify-content: center;
    font-weight: 700;
    @include media(980px) {
        margin-right: 20px;
    }
    @include media(650px) {
        width: 100px;
        height: 50px;
        font-size: 12px;
        padding: 0 15px 0 15px;
    }

    @include media(450px) {
        max-width: 80px;
        height: 30px;
        font-size: 6px;
        border-radius: 15px;
        padding: 0 6px 0 10px;
        gap: 4px;
    }

}

.buttons{
    display: flex;
    gap: 16px;
    @include media(980px) {
        padding: 10px;
    }

    @include media(450px) {
        padding: 5px;
        width: 187px;
        gap: 7px;
        margin-left: 10px;
    }
}

button:hover {
    opacity: 70%;
}

.l {
    margin-top: 12px;
    // height: 90%;
}

// .lol{
//     height: 40px;
// }
.bosh {
    padding: 16px 16px 16px 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(450px) {
        padding: 5px;
        // gap: 10px;
    }
}

.katta-bosh {
    padding: 24px;

    @include media(450px) {
        padding: 8px;
    }
}

.bt2 {
    width: 150px;
    height: 50px;
    border-radius: 30px;
    background-color: rgba(86, 202, 216, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    padding: 0 20px 0 20px;
    gap: 6px;
    justify-content: center;
    font-weight: 700;

    @include media(650px) {
        width: 100px;
        height: 50px;
        font-size: 12px;
        padding: 0 15px 0 15px;
    }

    @include media(450px) {
        width: 70px;
        height: 30px;
        font-size: 10px;
        border-radius: 15px;
        padding: 0 10px 0 10px;
    }

}

.li1 {
    margin-top: 14px;
    @include media(717px) {
        font-size: 12px;
    }
}

.brand {

    @include media(981px) {
        width: 200px;
        // height: 100px;
        // font-size: 12px;
        // padding: 0 15px 0 15px;
    }
    @include media(717px) {
        width: 130px;
        // height: 100px;
        // font-size: 12px;
        // padding: 0 15px 0 15px;
    }
}

.ppp{
    @include media(450px) {
        max-width: 90px;
        height: 30px;
        font-size: 6px;
        border-radius: 15px;
        padding: 0 6px 0 10px;
        font-weight: 400;
    }
}


.llll{
    @include media(450px) {
        font-size: 10px;
    }
}