@mixin media ($size) {
    @media (max-width:$size) {
        @content;
    }
}

.hr {
    width: 100%;
    margin-bottom: 20px;

    @include media(550px) {
        margin-bottom: 0px;
    }
}

.order {
    max-width: 821px;
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
    // border: 1px solid;

    @include media(550px) {
        margin-top: 50px;
        // height: 100px;
        // font-size: 12px;
        // padding: 0 15px 0 15px;
    }

    // .ordercha {
    //     width: 100%;
    //     height: 111px;
    //     padding: 30px 0 0 0;
    //     border-top: 2px solid rgba(244, 244, 244, 1);
    //     margin-top: 40px;
    //     display: flex;
    //     align-items: center;

    //     @include media(550px) {
    //         display: flex;
    //         margin-top: 30px;
    //         // flex-wrap: wrap;
    //         gap: 10px;
    //     }

    //     @include media(450px) {
    //         // display: flex;
    //         // margin-top: 30px;
    //         flex-wrap: wrap;
    //         // gap: 10px;
    //     }

    //     h5 {
    //         font-size: 22px;
    //         font-weight: 700;
    //         color: rgba(0, 0, 0, 1);
    //         line-height: 100%;
    //         margin-left: 15px;

    //         @include media(550px) {
    //             font-size: 15px;
    //             font-weight: 500;
    //         }
    //     }

    //     .l1 {
    //         @include media(450px) {
    //             width: 100%;
    //             justify-content: space-between;
    //         }
    //     }

    //     .quantity {
    //         width: 102px;
    //         height: 32px;
    //         display: flex;
    //         justify-content: space-between;
    //         // align-items: center;
    //         margin-left: 70px;

    //         @include media(450px) {
    //             margin-left: 30px;
    //             margin-top: 20px;
    //         }

    //         p {
    //             font-size: 22px;
    //             font-weight: 700;
    //             color: rgba(0, 0, 0, 1);
    //             margin-bottom: 20px;
    //         }
    //     }

    //     h6 {
    //         font-size: 22px;
    //         font-weight: 700;
    //         color: rgba(0, 0, 0, 1);
    //         line-height: 100%;
    //         margin-left: 90px;
    //         width: 58px;

    //         @include media(550px) {
    //             font-size: 15px;
    //             font-weight: 500;
    //         }
    //     }

    //     .img {
    //         margin-bottom: 5px;
    //         margin-left: 90px;

    //         @include media(550px) {
    //             margin-left: 40px;
    //         }

    //         @include media(450px) {
    //             margin-left: 30px;
    //             margin-top: 20px;
    //         }
    //     }

    //     .cn {
    //         width: 375px;

    //         @include media(450px) {
    //             width: 300px;
    //             display: flex;
    //             justify-content: space-between;
    //             margin: 0 auto;
    //         }

    //         img {
    //             width: 80px;

    //         }
    //     }
    // }




    h3 {
        font-size: 22px;
        font-weight: 400;
        color: rgba(0, 0, 0, 1);
        line-height: 100%;

        @include media(550px) {
            font-size: 14px;
            // flex-wrap: wrap;
            // gap: 20px;
        }


        span {
            font-weight: 700;
        }
    }

    h6 {
        font-weight: 400;
        font-size: 22px;
        color: rgba(0, 0, 0, 1);

        @include media(550px) {
            font-size: 14px;
            // flex-wrap: wrap;
            // gap: 20px;
        }

        span {
            font-weight: 700;
            color: rgba(254, 95, 30, 1);
        }
    }

    .lll {
        margin-top: 40px;

        @include media(450px) {
            margin-top: 90px;
        }

        @include media(450px) {
            margin-top: 140px;
            padding: 0 30px 0 30px;
        }
    }

    .llll {
        margin-top: 40px;
    }

    .empty-con {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .empty {
        font-size: 32px;
        font-weight: 700;
        // border: 1px solid;
        color: rgba(0, 0, 0, 1);
        width: 300px;
        // width: 100%;
    }

}

.order-array-wrapper {
    max-width: 821px;
    width: 100%;
    min-height: 111px;

    .order-itself {
        min-height: 110px;
        padding-top: 30px;
        border-top: 2px solid rgba(244, 244, 244, 1);
        margin-top: 30px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        // border: 1px solid;
        gap: 20px;

        .image-wrapper {
            max-width: 350px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            // border: 1px solid;

            img {
                width: 120px;
            }

            .inside-image-wrapper {
                max-width: 270px;

                h6 {
                    color: rgba(0, 0, 0, 1);
                    font-size: 22px;
                    font-weight: 700;
                    line-height: 100%;
                }

                p {
                    color: rgba(141, 141, 141, 1);
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 100%;
                    margin-bottom: 3px;
                }
            }
        }

        .right-side {
            max-width: 350px;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // border: 1px solid;

            .left-right-side {
                width: 100px;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: space-between;

                p {
                    color: rgba(0, 0, 0, 1);
                    font-size: 22px;
                    line-height: 100%;
                    font-weight: 700;
                    margin-top: 9px;
                }
            }

            .middle-right-side {
                font-size: 22px;
                font-weight: 700;
                line-height: 100%;
                color: rgba(0, 0, 0, 1);
                margin-top: 2px;
            }

            // .right-right-side
        }
    }
}