.card1 {
    width: 280px;
    min-height: 320px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    padding: 10px;
    border-radius: 10px;

    .image-wrapper {
        width: 260px;
        height: 260px;
        // border: 1px solid;

        img {
            width: 100%;
            height: 100%;
        }
    }

    h2 {
        font-size: 20px;
        font-weight: 800;
        text-align: center;
        color: rgba(0, 0, 0, 1);
        line-height: 100%;
        margin-top: 10px;
    }

    ;

    .types-sizes {
        width: 100%;
        height: 90px;
        border-radius: 10px;
        background-color: rgba(243, 243, 243, 1);
        margin-top: 22px;

        .selected {
            font-size: 14px;
            font-weight: 700;
            color: rgba(44, 44, 44, 1);
            padding: 6px 10px 6px 10px;
        }

        .selected2 {
            font-size: 14px;
            font-weight: 700;
            color: rgba(44, 44, 44, 1);
            padding: 6px 10px 6px 10px;
            background-color: rgba(255, 255, 255, 1);
            border-radius: 5px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.04);
        }

        .selected:hover {
            background-color: rgba(255, 255, 255, 1);
            border-radius: 5px;
            box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.04);
        }
    }

    .www {
        display: flex;
        align-items: center;
        h3 {
            font-size: 20px;
            font-weight: 700;
            color: rgba(0, 0, 0, 1)
        }

        ;

        .button-order {
            width: 155px;
            height: 40px;
            border-radius: 30px;
            border: 2px solid rgba(235, 90, 30, 1);
            color: rgba(235, 90, 30, 1);
            font-size: 15px;
            font-weight: 700;
        }

        ;

        .button-order2 {
            width: 155px;
            height: 40px;
            border-radius: 30px;
            background: rgba(235, 90, 30, 1);
            color: white;
            font-size: 15px;
            font-weight: 700;
        }

        ;

        .button-order:hover {
            background-color: rgba(235, 90, 30, 1);
            color: white
        }
    }
}